header {
    background-color: var(--header-color);
    /*height: 15vh;*/
}

.auth>div>a:hover{
	background-color: var(--header-color-hover);
}

.logo{
	outline: none;
	width: 64px;
	height: 64px;
}

.dropdown-img{
	width: 1.25rem;
	height: 1.25rem;
}

}

.nav{
	background-color: var(--header-color-hover);
}

.nav-link:hover{
	background-color: var(--header-color-active);
}

#logout{
	display: none;
}

.closeModal{
	font-size: 50px;
}


